* {
  margin: 0;
  padding: 0;
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 20vh;
  padding: 40 0;
}

main button {
  padding: 40px 60px;
  background-color: aqua;
  border-radius: 10px;
  color: white;
  font-size: 40px;
}
main button:hover {
  background-color: white;
  color: gray;
}

main p {
  margin-top: 20px;
  color: white;
  font-size: 50px;
}
